In [3]:
def add_function(num1,num2):
    return num1+num2

In [4]:
result = add_function(55,45)

In [5]:
result

100

In [6]:
a = add_function(34.34543,45.4545)

In [7]:
print(a)

79.79993

In [2]:
for num in range(4,52):
    if num%5==0:
        print(num)

5
10
15
20
25
30
35
40
45
50

In [ ]:
def say_hello(name,title):
    salute="hello"+(title)
    return (name)+salute

In [ ]:
title=input('whats your designation')
name=input('what shall i call you')
return say_hello

In [10]:
def say_hello(name,title):
    salute="hello"+(title)
    return (name)+salut

TypeError: say_hello() missing 2 required positional arguments: 'name' and 'title'

TypeError: say_hello() missing 2 required positional arguments: 'name' and 'title'

In [8]:
say_hello()

TypeError: say_hello() missing 2 required positional arguments: 'name' and 'title'

In [13]:
def say_hello(name):
    return (name)+'hi how are you'

In [17]:
say_hello('harsh')

'harshhi how are you'

In [27]:
def fine_wine(name , age):
    comple = age - 5
    return(f'hello {name} you look not a day over {comple}')

In [28]:
fine_wine('aishwarya',26)

'hello aishwarya you look not a day over 21'

In [11]:
def even_segrigator(num_list):
   
    even_list = []
    
    for num in num_list:
        if num%2==0:
            even_list.append(num)
        else:
            pass
   
    return [even_list],[even_list*2]

In [12]:
even_segrigator([1,2,4,5,6,4,7,6,5,5,5,5,9,34,5,7,4,35,2355,676,68,5,4634,623,5,356,6,57,568,56])

([[2, 4, 6, 4, 6, 34, 4, 676, 68, 4634, 356, 6, 568, 56]],
 [[2,
   4,
   6,
   4,
   6,
   34,
   4,
   676,
   68,
   4634,
   356,
   6,
   568,
   56,
   2,
   4,
   6,
   4,
   6,
   34,
   4,
   676,
   68,
   4634,
   356,
   6,
   568,
   56]])

In [14]:
8.55/1.25

6.840000000000001

In [15]:
60/1.84

32.608695652173914

In [16]:
work_hours=[('haa',346),('jas',874),('hdfn',934)]

In [34]:
def emplyee_check(work_hours):
    
    max_hrs = 0
    star_employee= ''
    
    for name,kaam in work_hours:
        if max_hrs < kaam:
            max_hrs = kaam
            star_employee = name
        else:
            pass
    return (max_hrs,star_employee)

In [35]:
emplyee_check(work_hours)

(934, 'hdfn')

In [36]:
result = emplyee_check(work_hours)

In [37]:
result

(934, 'hdfn')

In [38]:
person,hours = result

In [39]:
person

934

In [40]:
hours

'hdfn'

In [41]:
mylist = [2,4,45,6,7,49,5,6,7,8,7,53,34,56,76,7,8678,564,56,64]

In [43]:
from random import shuffle

In [44]:
shuffle(mylist)

In [45]:
mylist

[64, 4, 7, 7, 49, 45, 6, 8678, 76, 2, 34, 7, 8, 564, 6, 56, 56, 53, 5, 7]

In [46]:
def shuffle_it(ly_list):
    shuffle(ly_list)
    return ly_list

In [48]:
shuffle_it(mylist)

[4, 56, 2, 76, 8, 7, 53, 5, 64, 6, 7, 45, 8678, 564, 7, 6, 49, 34, 7, 56]

In [86]:
mylist= [' ','0',' ']

In [87]:
def shuffle_it(mylist):
    shuffle(mylist)
    return mylist

In [89]:
shuffle_it(mylist)

['0', ' ', ' ']

In [90]:
 def player_guess():
    guess = '' 
    
    while guess not in ['0','1','2']:
        guess = input('please choose a number 0,1,2')
        
    return int(guess)

In [92]:
myindex = player_guess()

please choose a number 0,1,23
please choose a number 0,1,22

In [93]:
myindex

2

In [94]:
def check_guess(mylist,guess):
    if mylist[guess]=='0':
        print('correct guess!!!!')
    else:
        print('wrong guess!!!!')
        print(mylist)

In [97]:
#inital list
mylist= [' ','0',' ']
#shuffle list
mixed_list= shuffle_it(mylist)
#user guess
guess=player_guess()
#check list
check_guess(mixed_list,guess)

please choose a number 0,1,22
wrong guess!!!!
[' ', '0', ' ']

In [98]:
def myfunc(name):
    print('hello'+ name)

In [101]:
disco = myfunc(' harsh')

hello harsh

In [103]:
def num_exp(*args):
    for num in (args):
        return sum(args)

In [105]:
num_exp(2,3,6,7,5,4,6,7,45,7,3,4,43,55)

197

In [122]:
def myfunc(*args):
    mylist=[]
    for num in args:
        if num %2 == 0 :
            mylist.append(num)
        else:
            pass

    return mylist

In [123]:
myfunc(2,3,4,5,6,7,8,9,11,1,31,34,543,6,6744,45,342)

[2, 4, 6, 8, 34, 6, 6744, 342]

In [126]:
def myfunc(string):
    mylist = []
    for i in range(len(string)):
        if i%2==0:
            mylist.append(string[i].upper())
        else:
            mylist.append(string[i].lower())
    return mylist

In [127]:
myfunc('hihowareyou')

['H', 'i', 'H', 'o', 'W', 'a', 'R', 'e', 'Y', 'o', 'U']

In [134]:
def myfunc(string):
    mylist = []
    for i in range(len(string)):
        if i%2 == 0:
            mylist.append(string[i].upper())
        elif i%2 != 0:
            mylist.append(string[i].lower())
    return ''.join(mylist)

In [135]:
myfunc('hihowareyou')

'HiHoWaReYoU'

In [136]:
myfunc('helloarebhiyakyakarrahehoaapp')

'HeLlOaReBhIyAkYaKaRrAhEhOaApP'

In [1]:
print(range(6))

range(0, 6)

In [1]:
i=3
if i>10:
    print (i, 'is greater than 10')
elif i<3:
    print (i, 'less than 3')
elif i>4:
    print (i)
else:
    print (i,'is between 3 and 10')

3 is between 3 and 10

In [2]:
for i in range(2,10,2):
     print(i)

2
4
6
8

In [2]:
word = 'haaleluyaaa'

In [4]:
text = word.split()

In [5]:
text

['haaleluyaaa']

In [8]:
word[:3].capitalize()

'Haa'

In [12]:
(3+4+5)

12

In [1]:
my_list = [1,2,3,4,5,3,2,1,2,3,4,5,2,1,2,3,4,5,7,8,9]

In [3]:
set(my_list)

{1, 2, 3, 4, 5, 7, 8, 9}